<div class="row">
  <div class="col-sm"></div>
  <div class="col-sm-9">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Question 1</h5>
        <label for="palindromeInput">See if word is a Palindrome. Please, type the word below to teste it</label>
        <div class="input-group mb-9" style="max-width: 500px;">
          <input type="text" id="palindromeInput" class="form-control mw-25" placeholder="Type the word" aria-label="Type the palindrome" aria-describedby="basic-addon2">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="button" onclick="onCheck()">Button</button>
          </div>
        </div>
      </div>
    </div>

    <br>

    <ul class="list-group">
      <li class="list-group-item">Users</li>
      <li *ngFor="let item of displayedList; let i='index'"
          (click)="selectUserRow(item)"
          [ngClass]="{'list-group-item-light': isRowEven(i), 'list-group-item-dark': !isRowEven(i), 'active': isRowSelected(item._id)}"
          class="list-group-item interactive"
          data-toggle="tooltip"
          data-placement="top"
          [title]="!isRowSelected(item._id) ? 'Add user' : 'Remove User'">
        <button  type="button"
                 data-toggle="modal"
                 data-target="#userModal" (click)="onOpenUserDetail(item._id)">OPEN</button>
        {{item._id}}# {{item.name}}
      </li>
    </ul>

    <br>

    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Answer</h5>
        <label for="exampleFormControlTextarea1">Example textarea</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
      </div>
    </div>

    <br>

  </div>
  <div class="col-sm"></div>
</div>

<div class="modal fade" id="userModal" tabindex="-1" role="dialog" aria-labelledby="userModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"> #{{ selectedUser?._id }} - {{selectedUser?.name}}</h5>
      </div>
      <div class="modal-body">
        <div class="list-group list-group-flush">
          <a class="list-group-item">{{selectedUser?.email}}</a>
          <a class="list-group-item">{{selectedUser?.role}}</a>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" >Save changes</button>
      </div>
    </div>
  </div>
</div>
