.card {
    &.product-card {
        margin: 8px;
        width: 220px;

        .card-text {
            min-height: 3.0em;
        }
    }

    .card-badge {
        padding-bottom: 4px;
        margin-bottom: 4px;
        padding-top: 4px;
    }

    .card-info {
        height: 68px;

    }
    
    .product-info-check-box {
        font-weight: 100;
        font-size: 18px;    
    }

    .detail-product-icon {
        font-size: 21px;
        cursor: pointer;
    }
}

